# Open router config
OPENROUTER_API_KEY=<your open router api key>
OPENROUTER_API_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=openai/gpt-oss-120b:free
OPENAI_AGENTS_DISABLE_TRACING=1

# Ollama config
OPENAI_BASE_URL=
OPENAI_API_KEY=

# LLAMA Server config
LLAMA_BASE_URL=